<ion-header>
  <ion-toolbar>
    <ion-button fill="clear" slot="end" (click)="modalCtrl.dismiss( false )">
      Cerrar
    </ion-button>
    <ion-title>Carrito de compras</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  
  <div text-center *ngIf="_cs.items.length == 0">
    <ion-icon name="cart" style="height: 100px; width: 100px; margin-top: 30%;"></ion-icon>
    <br>
    Su carrito esta vacío
  </div>

  <div *ngIf="_cs.items.length > 0">
    <ion-grid>
      <ion-row *ngFor="let item of _cs.items; let i=index;">
        <ion-col>
          <img [src]="item.codigo | imagen" alt="">
        </ion-col>
        <ion-col>
          <p> {{ item.producto }} </p>
          <p> {{ item.precio_compra }} $ </p>
          <ion-button color="danger" fill="outline" size="small" expand="block" (click)="_cs.remover_item(i)">
            Eliminar
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

    <hr>

    <ion-grid>
      <ion-row>
        <ion-col>
          <h3> Total: </h3>
          {{ _cs.total_carrito }} $
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-button expand="block" (click)="_cs.realizar_pedido()">
      Realizar pedido
    </ion-button>
  </div>

</ion-content>
