  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <ion-icon name="home"></ion-icon>
        <ion-label>Inicio</ion-label>
        <ion-badge>6</ion-badge>
      </ion-tab-button>
  
      <ion-tab-button tab="categorias">
        <ion-icon name="star-outline"></ion-icon>
        <ion-label>Categorías</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="ordenes">
        <ion-icon name="list"></ion-icon>
        <ion-label>Ordenes</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="buscar">
        <ion-icon name="search"></ion-icon>
        <ion-label>Buscar</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>