<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ linea.linea }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item *ngFor="let item of _ps.por_categoria">
      <ion-thumbnail slot="start">
        <img [src]="item.codigo | imagen">
      </ion-thumbnail>
      <ion-label>
        <h4> {{ item.producto }} </h4>
        <p> {{ item.proveedor }} </p>
      </ion-label>
      <ion-button fill="clear" [routerLink]="['/tabs/categorias/por-categoria/producto']" [queryParams]="item">
        Ver
      </ion-button>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="siguientePagina($event)" [disabled]="!hayMas">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Cargando más datos ...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
