<ion-header>
  <ion-toolbar>
    <ion-title>
      Mi tienda
    </ion-title>
    <ion-button fill="clear" slot="end" style="margin-right: 8px;">
      <ion-icon name="cart"></ion-icon>
      <ion-badge class="carrito_numero" color="danger" *ngIf="_cs.items.length > 0"> {{ _cs.items.length }} </ion-badge>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row *ngFor="let productos of _ps.productos">
      <ion-col *ngFor="let item of productos" (click)="mostrarProducto(item)">
        <img [src]="item.codigo | imagen" alt="">
        <p>
          {{ item.producto }}
          <br>
          {{ item.precio_compra }} $
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="siguientePagina($event)" [disabled]="!hayMas">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Cargando más datos ...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
