<ion-header>
  <ion-toolbar>
    <ion-title>
      Mi tienda
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row *ngFor="let productos of _ps.productos">
      <ion-col *ngFor="let item of productos">
        <img src="http://localhost/rest/public/img/productos/{{ item.codigo }}.jpg" alt="">
        <p>
          {{ item.producto }}
          <br>
          {{ item.precio_compra }} $
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="siguientePagina($event)" [disabled]="!hayMas">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Cargando más datos ...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
